# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints

# Large files and models
*.h5
*.pkl
*.pickle
*.pth
*.onnx

# Large datasets
dataset/test/
dataset/train/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
